In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dia = pd.read_csv(r"C:\Users\home\Downloads\diamonds.zip")
dia.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
dia.shape

(53940, 10)

In [4]:
dia.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [5]:
dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [6]:
dia.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [7]:
for i in dia.index:
    if dia.loc[i,'z']==0:
        dia.drop(i)

In [8]:
for i in dia.index:
    if dia.loc[i,'x']==0:
        dia.drop(i)

## finding the target Variable

In [9]:
y=dia['price']
X=dia[['carat','cut','color','clarity','depth','table','x','y','z']]

#### Spliting the Data into Train and Test

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=100)
X_train.head()

       carat      cut color clarity  depth  table     x     y     z
33169   0.30    Ideal     D     VS1   61.9   54.1  4.28  4.33  2.67
53170   0.71  Premium     E     SI1   59.5   62.0  5.85  5.74  3.45
27846   0.30    Ideal     D     VS1   62.2   56.0  4.27  4.31  2.67
20880   1.02  Premium     F    VVS2   62.9   59.0  6.42  6.37  4.02
28554   0.30  Premium     H     VS1   60.1   61.0  4.32  4.30  2.59

In [11]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(40455, 9) (40455,)
(13485, 9) (13485,)

In [12]:
X_train.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

### Now Separating Categorical And Numerical Columns

In [13]:
# cut,color,clarity are categorical columms
#carat,depth,table,x,y,z are numerical columns

In [14]:
X_train_categorical=X_train.select_dtypes(include=['object'])
X_train_categorical.head()

           cut color clarity
33169    Ideal     D     VS1
53170  Premium     E     SI1
27846    Ideal     D     VS1
20880  Premium     F    VVS2
28554  Premium     H     VS1

In [15]:
X_train_categorical.shape

(40455, 3)

In [16]:
X_train_numerical=X_train.select_dtypes(include=['float64'])
X_train_numerical.head()

       carat  depth  table     x     y     z
33169   0.30   61.9   54.1  4.28  4.33  2.67
53170   0.71   59.5   62.0  5.85  5.74  3.45
27846   0.30   62.2   56.0  4.27  4.31  2.67
20880   1.02   62.9   59.0  6.42  6.37  4.02
28554   0.30   60.1   61.0  4.32  4.30  2.59

In [17]:
X_train_numerical.shape

(40455, 6)

### Applying Label Encoding On  Categorical Columns

In [18]:
X_train_categorical_label=pd.DataFrame(index=X_train_categorical.index)
X_train_categorical_label.head()

Empty DataFrame
Columns: []
Index: [33169, 53170, 27846, 20880, 28554]

In [19]:
X_train_categorical.cut.unique()

array(['Ideal', 'Premium', 'Very Good', 'Fair', 'Good'], dtype=object)

In [20]:
cut={'Fair':1,'Good':2,'Very Good':3,'Ideal':4,'Premium':5}
X_train_categorical_label['cut']=X_train_categorical['cut'].apply(lambda x:cut[x])
X_train_categorical_label.head()

       cut
33169    4
53170    5
27846    4
20880    5
28554    5

In [21]:
X_train_categorical.color.unique()

array(['D', 'E', 'F', 'H', 'G', 'I', 'J'], dtype=object)

In [22]:
color={'D':1,'E':2,'F':3,'G':4,'H':5,'I':6,'J':7}
X_train_categorical_label['color']=X_train_categorical['color'].apply(lambda x:color[x])
X_train_categorical_label.head()

       cut  color
33169    4      1
53170    5      2
27846    4      1
20880    5      3
28554    5      5

In [23]:
X_train_categorical.clarity.unique()

array(['VS1', 'SI1', 'VVS2', 'SI2', 'IF', 'VS2', 'I1', 'VVS1'],
      dtype=object)

In [24]:
clarity={'I1' : 1, 'SI2' : 2, 'SI1' : 3, 'VS2': 4, 'VS1' : 5, 'VVS2' : 6, 'VVS1':7,'IF':8}
X_train_categorical_label['clarity']=X_train_categorical['clarity'].apply(lambda x:clarity[x])
X_train_categorical_label.head()

       cut  color  clarity
33169    4      1        5
53170    5      2        3
27846    4      1        5
20880    5      3        6
28554    5      5        5

###  Applying Standardization on Numerical  Features

In [25]:
X_train_numerical.head()

       carat  depth  table     x     y     z
33169   0.30   61.9   54.1  4.28  4.33  2.67
53170   0.71   59.5   62.0  5.85  5.74  3.45
27846   0.30   62.2   56.0  4.27  4.31  2.67
20880   1.02   62.9   59.0  6.42  6.37  4.02
28554   0.30   60.1   61.0  4.32  4.30  2.59

In [26]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_numerical_rescaled=pd.DataFrame(scaler.fit_transform(X_train_numerical),
                                       columns=X_train_numerical.columns,
                                       index=X_train_numerical.index)
X_train_numerical_rescaled.head()

          carat     depth     table         x         y         z
33169 -1.050294  0.099874 -1.495687 -1.293573 -1.220387 -1.249413
53170 -0.186302 -1.572250  2.031741  0.105090  0.003601 -0.128311
27846 -1.050294  0.308890 -0.647318 -1.302482 -1.237749 -1.249413
20880  0.466960  0.796592  0.692211  0.612885  0.550489  0.690955
28554 -1.050294 -1.154219  1.585231 -1.257938 -1.246430 -1.364397

### Concatenating Categorical And Numerical columns

In [27]:
X_train_transformed=pd.concat([X_train_numerical_rescaled,X_train_categorical_label],axis=1)
X_train_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
33169,-1.050294,0.099874,-1.495687,-1.293573,-1.220387,-1.249413,4,1,5
53170,-0.186302,-1.572250,2.031741,0.105090,0.003601,-0.128311,5,2,3
27846,-1.050294,0.308890,-0.647318,-1.302482,-1.237749,-1.249413,4,1,5
20880,0.466960,0.796592,0.692211,0.612885,0.550489,0.690955,5,3,6
28554,-1.050294,-1.154219,1.585231,-1.257938,-1.246430,-1.364397,5,5,5

 ## Data Preparation On Test Data

In [28]:
X_test.head()

       carat      cut color clarity  depth  table     x     y     z
52264   0.57    Ideal     E     VS2   61.5   57.0  5.35  5.32  3.28
21073   1.16    Ideal     G     VS1   61.5   55.0  6.75  6.81  4.17
42161   0.51    Ideal     G     SI1   63.2   58.0  5.05  5.08  3.20
35974   0.42    Ideal     F     VS1   60.6   56.0  4.83  4.87  2.94
7641    0.80  Premium     G      IF   62.6   58.0  5.89  5.93  3.70

In [29]:
X_test.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [30]:
X_test_cat=X_test.select_dtypes(include=['object'])
X_test_cat.head()

           cut color clarity
52264    Ideal     E     VS2
21073    Ideal     G     VS1
42161    Ideal     G     SI1
35974    Ideal     F     VS1
7641   Premium     G      IF

In [31]:
X_test_num=X_test.select_dtypes(include=['float64'])
X_test_num.head()

       carat  depth  table     x     y     z
52264   0.57   61.5   57.0  5.35  5.32  3.28
21073   1.16   61.5   55.0  6.75  6.81  4.17
42161   0.51   63.2   58.0  5.05  5.08  3.20
35974   0.42   60.6   56.0  4.83  4.87  2.94
7641    0.80   62.6   58.0  5.89  5.93  3.70

### Applying Lebel Encoding On Categorical Data

In [32]:
X_test_cat_lebel=pd.DataFrame(index=X_test_cat.index)
X_test_cat_lebel.head()

Empty DataFrame
Columns: []
Index: [52264, 21073, 42161, 35974, 7641]

In [33]:
X_test_cat.cut.unique()

array(['Ideal', 'Premium', 'Very Good', 'Fair', 'Good'], dtype=object)

In [37]:
cut={'Fair':1,'Good':2,'Very Good':3,'Ideal':4,'Premium':5}
X_test_cat_lebel['cut']=X_test_cat['cut'].apply(lambda x:cut[x])
X_test_cat_lebel.head()

       cut
52264    4
21073    4
42161    4
35974    4
7641     5

In [38]:
X_test_cat.color.unique()

array(['E', 'G', 'F', 'I', 'D', 'H', 'J'], dtype=object)

In [40]:
color={'D':1,'E':2,'F':3,'G':4,'H':5,'I':6,'J':7}
X_test_cat_lebel['color'] = X_test_cat['color'].apply(lambda x:color[x])
X_test_cat_lebel.head()

       cut  color
52264    4      2
21073    4      4
42161    4      4
35974    4      3
7641     5      4

In [41]:
X_test_cat.clarity.unique()

array(['VS2', 'VS1', 'SI1', 'IF', 'VVS2', 'SI2', 'VVS1', 'I1'],
      dtype=object)

In [43]:
clarity={'I1':1,'SI2':2,'SI1':3,'VS2':4,'VS1':5, 'VVS2':6,'VVS1':7,'IF':8}
X_test_cat_lebel['clarity']=X_test_cat['clarity'].apply(lambda x:clarity[x])
X_test_cat_lebel.head()

       cut  color  clarity
52264    4      2        4
21073    4      4        5
42161    4      4        3
35974    4      3        5
7641     5      4        8

### Rescaling on Numerical Data

In [44]:
X_test_num_rescaled=pd.DataFrame(scaler.transform(X_test_num),
                                columns=X_test_num.columns,
                                index=X_test_num.index)
X_test_num_rescaled.head()

          carat     depth     table         x         y         z
52264 -0.481324 -0.178813 -0.200809 -0.340344 -0.360992 -0.372654
21073  0.761982 -0.178813 -1.093828  0.906871  0.932443  0.906552
42161 -0.607762  1.005608  0.245701 -0.607605 -0.569330 -0.487639
35974 -0.797419 -0.805860 -0.647318 -0.803596 -0.751626 -0.861339
7641   0.003355  0.587577  0.245701  0.140725  0.168535  0.231016

### Now Concatenating  categorical and Numerical data

In [46]:
X_test_transformed=pd.concat([X_test_num_rescaled,X_test_cat_lebel],axis=1)
X_test_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
52264,-0.481324,-0.178813,-0.200809,-0.340344,-0.360992,-0.372654,4,2,4
21073,0.761982,-0.178813,-1.093828,0.906871,0.932443,0.906552,4,4,5
42161,-0.607762,1.005608,0.245701,-0.607605,-0.569330,-0.487639,4,4,3
35974,-0.797419,-0.805860,-0.647318,-0.803596,-0.751626,-0.861339,4,3,5
7641,0.003355,0.587577,0.245701,0.140725,0.168535,0.231016,5,4,8

## KNN from Scratch

In [47]:
euc_dist=[]
y_indices=np.array(X_train_transformed.index)
y_indices
k=5
y_predict=[]
dist_list=[]
for i in range (len(X_test_transformed)):
    dist=np.sqrt(((X_test_transformed.values[i]-X_train_transformed.values)**2).sum(axis=1))
    
    dist_list.append(dist)
    sort_index=np.argsort(dist_list[i])
    sort_y=y_indices[sort_index]
    y_index=sort_y[:k] 
    y_pred=y_train[y_index]
    y_predict.append(y_pred.values.mean())

In [48]:
temp_df=pd.DataFrame({'Actual':y_test,'Predict':y_predict})
temp_df.head()

       Actual  Predict
52264    2491   1779.6
21073    9248   9000.6
42161    1284   1136.6
35974     921    960.4
7641     4268   5510.6

In [50]:
from sklearn import metrics
from sklearn.metrics import r2_score

In [51]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test,y_predict))

Mean Absolute Error:  382.14985539488316

In [53]:
print('Mean Squared Error: ', metrics.mean_squared_error(y_test,y_predict))

Mean Squared Error:  563416.7222840192

In [54]:
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

Root Mean Squared Error:  750.6108993906358

In [55]:
print('Accuracy of algorithm model: ', r2_score(y_test,y_predict))

Accuracy of algorithm model:  0.9641613232854794

  ## KNN from Sklearn Model

In [56]:
from sklearn.neighbors import KNeighborsRegressor
regressor=KNeighborsRegressor()
regressor.fit(X_train_transformed,y_train)

KNeighborsRegressor()

In [58]:
y_test_pred=regressor.predict(X_test_transformed)
y_test_pred

array([1779.6, 9000.6, 1136.6, ...,  543.8,  949.6, 2809.6])

In [60]:

temp_df=pd.DataFrame({'Actual':y_test,'Predicted':y_test_pred})
temp_df.head()

       Actual  Predicted
52264    2491     1779.6
21073    9248     9000.6
42161    1284     1136.6
35974     921      960.4
7641     4268     5510.6

In [61]:
from sklearn import metrics
from sklearn.metrics import r2_score

In [62]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test,y_predict))

Mean Absolute Error:  382.14985539488316

In [63]:
print('Mean Squared Error: ', metrics.mean_squared_error(y_test,y_predict))

Mean Squared Error:  563416.7222840192

In [64]:
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

Root Mean Squared Error:  750.6108993906358

In [65]:
print('Accuracy of algorithm model:', r2_score(y_test,y_predict))

Accuracy of algorithm model: 0.9641613232854794